In [ ]:
#week_11 -  Which customers are closest?

In [1]:
import pandas as pd
import numpy as np
import math

In [2]:
branch = pd.read_csv("DSB Branches.csv")

In [3]:
branch.head(5)

       Branch  Branch Long  Branch Lat
0      London    -0.109863   51.481383
1      Oxford    -1.252441   51.727028
2  Nottingham    -1.142578   52.948638
3   Newcastle    -1.604004   54.965002

In [4]:
branch.shape

(4, 3)

In [5]:
branch.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Branch       4 non-null      object
 1   Branch Long  4 non-null      float64
 2   Branch Lat   4 non-null      float64
dtypes: float64(2), object(1)
memory usage: 224.0+ bytes

In [6]:
cust = pd.read_csv("DSB Customer Locations.csv")

In [7]:
cust.head(5)

   Customer  Address Long  Address Lat
0         1      0.747070    51.549751
1         2      0.406494    51.957807
2         3     -0.142822    50.833698
3         4     -4.640350    50.335819
4         5     -1.593018    51.289406

In [8]:
cust.shape

(125, 3)

In [9]:
cust.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Customer      125 non-null    int64
 1   Address Long  125 non-null    float64
 2   Address Lat   125 non-null    float64
dtypes: float64(2), int64(1)
memory usage: 3.1 KB

In [10]:
def haversine(lat1, lon1, lat2, lon2):
   
    # Convert latitude and longitude from degrees to radians
    lat1_rad = np.radians(lat1)
    lon1_rad = np.radians(lon1)
    lat2_rad = np.radians(lat2)
    lon2_rad = np.radians(lon2)
    
    # Haversine formula
    dlon = lon2_rad - lon1_rad
    dlat = lat2_rad - lat1_rad
    a = np.sin(dlat / 2) ** 2 + np.cos(lat1_rad) * np.cos(lat2_rad) * np.sin(dlon / 2) ** 2
    c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1 - a))
    distance = 3963 * c  # Earth radius in miles
    return round(distance, 2)

In [11]:
df = (cust.merge(branch,how='cross')
          .assign(Distance = lambda df_x :haversine(df_x['Address Lat'].astype(float),
                                                    df_x['Address Long'].astype(float),
                                                    df_x['Branch Lat'].astype(float),
                                                    df_x['Branch Long'].astype(float)))
          .sort_values('Distance',ascending = True)
          .drop_duplicates('Customer'))

In [12]:
df

,Customer,Address Long,Address Lat,Branch,Branch Long,Branch Lat,Distance
228,58,-0.043945,51.481383,London,-0.109863,51.481383,2.84
476,120,-0.156555,51.530960,London,-0.109863,51.481383,3.97
305,77,-1.164551,51.767840,Oxford,-1.252441,51.727028,4.70
472,119,-0.123596,51.404346,London,-0.109863,51.481383,5.36
480,121,-0.063171,51.559997,London,-0.109863,51.481383,5.80
...,...,...,...,...,...,...,...
100,26,1.494141,52.308479,London,-0.109863,51.481383,89.22
28,8,1.296387,52.616390,London,-0.109863,51.481383,98.69
177,45,-3.537598,50.792047,Oxford,-1.252441,51.727028,118.17
173,44,-4.130859,50.833698,Oxford,-1.252441,51.727028,139.01
13,4,-4.640350,50.335819,Oxford,-1.252441,51.727028,175.98

In [13]:
df['Customer Priority'] = df.groupby('Branch')['Distance'].rank(ascending = True)

In [14]:
df

,Customer,Address Long,Address Lat,Branch,Branch Long,Branch Lat,Distance,Customer Priority
228,58,-0.043945,51.481383,London,-0.109863,51.481383,2.84,1.0
476,120,-0.156555,51.530960,London,-0.109863,51.481383,3.97,2.0
305,77,-1.164551,51.767840,Oxford,-1.252441,51.727028,4.70,1.0
472,119,-0.123596,51.404346,London,-0.109863,51.481383,5.36,3.0
480,121,-0.063171,51.559997,London,-0.109863,51.481383,5.80,4.0
...,...,...,...,...,...,...,...,...
100,26,1.494141,52.308479,London,-0.109863,51.481383,89.22,49.0
28,8,1.296387,52.616390,London,-0.109863,51.481383,98.69,50.0
177,45,-3.537598,50.792047,Oxford,-1.252441,51.727028,118.17,23.0
173,44,-4.130859,50.833698,Oxford,-1.252441,51.727028,139.01,24.0
13,4,-4.640350,50.335819,Oxford,-1.252441,51.727028,175.98,25.0

In [15]:
df[df['Branch'] == 'London']

,Customer,Address Long,Address Lat,Branch,Branch Long,Branch Lat,Distance,Customer Priority
228,58,-0.043945,51.481383,London,-0.109863,51.481383,2.84,1.0
476,120,-0.156555,51.530960,London,-0.109863,51.481383,3.97,2.0
472,119,-0.123596,51.404346,London,-0.109863,51.481383,5.36,3.0
480,121,-0.063171,51.559997,London,-0.109863,51.481383,5.80,4.0
240,61,-0.263672,51.522416,London,-0.109863,51.481383,7.20,5.0
428,108,-0.291138,51.460852,London,-0.109863,51.481383,7.94,6.0
432,109,-0.140076,51.595842,London,-0.109863,51.481383,8.02,7.0
440,111,0.016479,51.390637,London,-0.109863,51.481383,8.31,8.0
272,69,-0.197754,51.371780,London,-0.109863,51.481383,8.48,9.0
216,55,-0.329590,51.508742,London,-0.109863,51.481383,9.65,10.0
488,123,-0.299377,51.390637,London,-0.109863,51.481383,10.30,11.0
220,56,0.000000,51.618017,London,-0.109863,51.481383,10.57,12.0
448,113,0.134583,51.445449,London,-0.109863,51.481383,10.82,13.0
460,116,-0.365295,51.472830,London,-0.109863,51.481383,11.02,14.0
492,124,-0.304871,51.376924,London,-0.109863,51.481383,11.09,15.0
484,122,-0.263672,51.623132,London,-0.109863,51.481383,11.83,16.0
292,74,-0.065918,51.658927,London,-0.109863,51.481383,12.42,17.0
468,118,-0.392761,51.595842,London,-0.109863,51.481383,14.52,18.0
464,117,-0.450439,51.517289,London,-0.109863,51.481383,14.87,19.0
212,54,-0.241699,51.699800,London,-0.109863,51.481383,16.13,20.0
232,59,-0.461426,51.385495,London,-0.109863,51.481383,16.55,21.0
496,125,-0.499878,51.501904,London,-0.109863,51.481383,16.86,22.0
276,70,-0.043945,51.206883,London,-0.109863,51.481383,19.20,23.0
224,57,-0.549316,51.371780,London,-0.109863,51.481383,20.41,24.0
444,112,0.208740,51.703204,London,-0.109863,51.481383,20.56,25.0
324,82,0.043945,51.193115,London,-0.109863,51.481383,21.02,26.0
348,88,0.351563,51.604372,London,-0.109863,51.481383,21.60,27.0
236,60,-0.637207,51.440313,London,-0.109863,51.481383,22.90,28.0
364,92,0.417480,51.412912,London,-0.109863,51.481383,23.22,29.0
420,106,-0.549316,51.692990,London,-0.109863,51.481383,23.89,30.0
424,107,-0.450439,51.767840,London,-0.109863,51.481383,24.63,31.0
408,103,-0.329590,51.138001,London,-0.109863,51.481383,25.58,32.0
336,85,-0.571289,51.220647,London,-0.109863,51.481383,26.88,33.0
208,53,-0.549316,51.767840,London,-0.109863,51.481383,27.36,34.0
316,80,-0.549316,51.795027,London,-0.109863,51.481383,28.75,35.0
380,96,0.021973,51.903613,London,-0.109863,51.481383,29.75,36.0
452,114,0.593262,51.628248,London,-0.109863,51.481383,31.90,37.0
296,75,0.461426,51.795027,London,-0.109863,51.481383,32.74,38.0
412,104,-0.505371,51.041394,London,-0.109863,51.481383,34.92,39.0
0,1,0.747070,51.549751,London,-0.109863,51.481383,37.19,40.0
372,94,0.571289,51.138001,London,-0.109863,51.481383,37.83,41.0
4,2,0.406494,51.957807,London,-0.109863,51.481383,39.69,42.0
8,3,-0.142822,50.833698,London,-0.109863,51.481383,44.82,43.0
196,50,-0.944824,51.055207,London,-0.109863,51.481383,46.63,44.0
368,93,0.966797,51.179343,London,-0.109863,51.481383,51.00,45.0
456,115,0.906372,51.908696,London,-0.109863,51.481383,52.65,46.0
340,86,-0.241699,52.241256,London,-0.109863,51.481383,52.86,47.0
108,28,0.922852,52.456009,London,-0.109863,51.481383,80.50,48.0
100,26,1.494141,52.308479,London,-0.109863,51.481383,89.22,49.0
28,8,1.296387,52.616390,London,-0.109863,51.481383,98.69,50.0

In [16]:
cols = ['Branch','Branch Long','Branch Lat','Distance','Customer Priority','Customer','Address Long','Address Lat']

In [21]:
df.reindex(columns = cols)

,Branch,Branch Long,Branch Lat,Distance,Customer Priority,Customer,Address Long,Address Lat
228,London,-0.109863,51.481383,2.84,1.0,58,-0.043945,51.481383
476,London,-0.109863,51.481383,3.97,2.0,120,-0.156555,51.530960
305,Oxford,-1.252441,51.727028,4.70,1.0,77,-1.164551,51.767840
472,London,-0.109863,51.481383,5.36,3.0,119,-0.123596,51.404346
480,London,-0.109863,51.481383,5.80,4.0,121,-0.063171,51.559997
...,...,...,...,...,...,...,...,...
100,London,-0.109863,51.481383,89.22,49.0,26,1.494141,52.308479
28,London,-0.109863,51.481383,98.69,50.0,8,1.296387,52.616390
177,Oxford,-1.252441,51.727028,118.17,23.0,45,-3.537598,50.792047
173,Oxford,-1.252441,51.727028,139.01,24.0,44,-4.130859,50.833698
13,Oxford,-1.252441,51.727028,175.98,25.0,4,-4.640350,50.335819

In [ ]:
df.to_csv("week_11_output.csv")